<!-- assuming this is included inside a for loop with list as individual item
     and that a list of columns has been provided

     requires:
       columns to be list of headings
       list containing a list at position 3 that contains values to be displayed in table
-->
<table border="1">
    <thead>
        <tr>
        {% for c in columns %}
            <th>{{ c }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% for l in list[2]%}
        <tr>
            <td><a href="{{ url_for('summary_tag_items', summary_tag=l[0]) }}">{{ l[0] }}</a></td>
            <td>{{ l[1] }}</td>
            <td>{{ l[2] }}</td>
            <td>{{ l[3] }}</td>
        </tr>
    {% endfor %}
</table>