<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        <title>Monitor Spending</title>
    </head>
    <body>
        <div>
            Monitor Spending:
            <a href="{{ url_for('index') }}">Home</a>
             |
            <a href="{{ url_for('spending_analysis') }}">Spending Analysis</a>
             |
            <a href="{{ url_for('categories') }}">Categories</a>
             |
            <a href="{{ url_for('upload_file') }}">Upload</a>
             |
            <a href="{{ url_for('file_admin') }}">Existing Files </a>
             |
           <a href="{{ url_for('state_admin') }}">Manage Category States </a>
             |
           <a href="{{ url_for('info') }}">Info</a>
             |
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <div>
            working file is: {{ file_info[0] }}, uploaded at {{file_info[1] }}
        </div>
        {% block content %}
        {% endblock %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="error">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>