{% extends "base.html" %}

{% block content %}
    Spending Summary as of {{ today }}<br>
    {% for list in spending_summary_info %}
        <h3>{{ list[0] }} ({{ frequency }}) </h3>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.state_radio_button }}<br>
            {{ form.change_state }}
        </form>
        <h3>Summary</h3>
        {% include 'snippets/summary_table.html' %}
    {% endfor %}
    <h3>metadata</h3>
    {{ metadata_items | safe }}
    <h3>All Items</h3>
    {{ items | safe }}<br>
    <h3>Past States</h3>
    <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.prev_states(size=6) }}<br>
            {{ form.delete_prev_states_button }}
        </form>
{% endblock %}