{% extends "base.html" %}

{% block content %}
    Spending Summary as of {{ today }}<br>
        <h3>{{ category }} ({{ frequency }}) </h3>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.state_radio_button }}<br>
            {{ form.change_state }}
        </form>
        <h3>Summary</h3>
    {% for list in spending_summary_info %}
        {% include 'snippets/summary_table.html' %}
    {% endfor %}
    <h3>metadata</h3>
    <table border="1">
        <thead>
        <tr>
            {% for column_heading in metadata[0] %}
                <th>{{ column_heading }}</th>
            {% endfor %}
        </tr>
        </thead>
    {% for i in metadata[1:] %}
        <tr>
        <td>{{ i[0] }}</td>
        {% for j in i[1:] %}
            <td>{% if j is float %}
                {{ '{:,.2f}'.format(j) }}
            {% else %}
                {{ j }}
            {% endif %}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <h3>All Items</h3>
    {{ items | safe }}<br>
    <h3>Past States</h3>
    <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.prev_states(size=6) }}<br>
            {{ form.delete_prev_states_button }}
        </form>
{% endblock %}