{% extends "base.html" %}

{% block content %}
    Spending Summary as of {{ today }}<br>
        {% for list in spending_summary_info %}
            {{ list[0] }} (<a href="{{ url_for('recent_category_items', category=list[0]) }}">recent items</a>)
            (<a href="{{ url_for('items', category=list[0]) }}">all items</a>)
            <details >
            <summary></summary>
            </details>
            <table border="1">
            <thead>
                <tr>
                {% for c in columns %}
                    <th>{{ c }}</th>
                {% endfor %}
                </tr>
            </thead>
            {% for l in list[2]%}
                <tr>
                    <td>{{ l[0] }}</td>
                    <td>{{ l[1] }}</td>
                    <td>{{ l[2] }}</td>
                    <td>{{ l[3] }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endfor %}
    <details>

{% endblock %}