{% extends "base.html" %}

{% block content %}
    <h3>Spending Summary for {{ frequency }} categories</h3>
        {% for list in spending_summary_info %}
            <details >
            <summary>{{ list[0] }} (<a href="{{ url_for('category_summary', category=list[0]) }}">summary</a>)
            </summary>
            <table border="1">
            <thead>
                <tr>
                {% for c in columns %}
                    <th>{{ c }}</th>
                {% endfor %}
                </tr>
            </thead>
            {% for l in list[2]%}
                <tr>
                    <td>{{ l[0] }}</td>
                    <td>{{ l[1] }}</td>
                    <td>{{ l[2] }}</td>
                    <td>{{ l[3] }}</td>
                </tr>
            {% endfor %}
            </table>
            </details>
        {% endfor %}
{% endblock %}