<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Understanding Your Spending</title>
</head>
<body>
<h3>Spend your money more effectively by understanding your past spending</h3>
<p>
Build a deep understanding of your past spending by getting answers to these questions:
    <ul>
    <li>what is my spending overall?</li>
    <li>how does my more recent spending compare to what I have spent in the past?</li>
    <li>where does the brunt of my money go?</li>
    <li>where should I make adjustments to my spending?</li>
    <li>in what categories is my spending predictable?</li>
    <li>in what categories is it less predictable?</li>
    <li>others?</li>
</ul>
</p>
<p>Get the answers to these questions by creating a file containing your spending transactions and uploading it here - after registering (see below).</p>
<p>If you use Mint (mint.com), use the downloaded file from the transactions section of the site.</p>
<p>The file must contain:</p>
<ul>
    <li>a first row of column headings containing these headers:
        <ul>
            <li>'Date' - the date of the transaction</li>
            <li>'Category' - the name of the group containing similar transactions</li>
            <li>'Transaction Type' - 'debit' = money out or 'credit' = money in</li>
            <li>'Amount' - how much of the debit or credit</li>
             <li>(these column headings come automatically with the Mint download)</li>
        </ul>
    <li>(there can be any number of other columns in the file)</li>
    <li>only transactions populating the remaining rows in the file</li>
</ul>
</p>
<p>this site is currently by invitation only. for an invitation, email spendgoodly@gmail.com with a brief request about why you want one.</p>
<p><a href="{{ url_for('register') }}">Click to Register!</a></p>
</body>
</html>