{% extends "base.html" %}

{% block content %}
    <h4>annualized spending: {{ '${:,.2f}'.format(annual_budget) }}</h4>
    Overall Spending Summary<br>
    <!-- spending_summary is a list (shared across other pages that display the summary table
      [0] contains name of summary ('total spending', a frequency or a category)
      [1] contains list of lists containing summary rows with cell data
                (first row is column headings, following rows for each summary tag)
     -->
        {% for list in topline_spending_summary %}
            {{ list[0] }} <a href="{{ url_for('spending_analysis') }}">(details)</a>
            {% include 'snippets/summary_table.html' %}  <!-- references list[1] -->
        {% endfor %}
    <br>
    <!-- overspent_cat_metadata_by_summary_tag is
    [[summary_tag, [[category, other metadata item, other metadata item],
                   [category, other metadata item, other metadata item],
                   ...]],
     [summary_tag, [[category, other metadata item, other metadata item],
                   [category, other metadata item, other metadata item],
                   ...]]
     ...
     ]
     -->
    Overspent categories by summary period
    {% for i in overspent_cat_metadata_by_summary_tag %}
        <details><summary>{{ i[0] }}</summary>
        <table border="1">
            <thead>
            <tr>
                {% for column_heading in i[1][0] %}
                    <th>{{ column_heading }}</th>
                {% endfor %}
            </tr>
            </thead>
        {% for j in i[1][1:] %}
            <td><a href="{{ url_for('category', cat=j[0]) }}">{{ j[0] }}</a></td>
            {% for k in j[1:] %}
                <td>{% if k is float %}
                    {{ '{:,.2f}'.format(k) }}
                {% else %}
                    {{ k }}
                {% endif %}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        </details>
    {% endfor %}
    <br>
    <h3>Flagged categories</h3>
    {% for i in categories_by_state %}
        {{ i[0] }}:
        {% for l in i[1] %}
            <a href="{{ url_for('category', cat=l) }}">{{ l }}</a>
        {% endfor %}
        <br>
    {% endfor %}
    <br>
{% endblock %}