{% extends "base.html" %}

{% block content %}
    <h3>Spending Summary as of {{ today }}</h3>
    <h4>annualized spending: {{ '${:,.2f}'.format(annual_budget) }} (based on spending)</h4>
    {% for list in spending_summary_info %}
        {{ list[0] }}  (<a href="{{ url_for('recent_frequency_items', frequency=list[0]) }}">recent items</a>) <a href="{{ url_for('frequency_categories', frequency=list[0]) }}">{{ list[1] }} categories</a>
        {% include 'snippets/summary_table.html' %}
    {% endfor %}


{% endblock %}