{% extends "base.html" %}

{% block content %}
    Spending Summary as of {{ today }}<br>
    <table border="1">
        <tr>
            <th>Period</th>
            <th>Amount Spent</th>
            <th>Budget</th>
            <th>% of Budget</th>
        </tr>
        {% for i in annual_spending %}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ '${:,.2f}'.format(i[1]) }}</td>
            <td>{{ '${:,.2f}'.format(i[2]) }}</td>
            <td>{{ '{:,.2f}%'.format(i[3]) }}</td>
        </tr>
        {% endfor %}
    </table>
    <div>
    <table border="'1'">
        <tr>
            <th>Category</th>
            {% for i in cat_info_headings %}
            <th>
                {{ i }}
            </th>
            {% endfor %}
        </tr>
        {%  for key, value_list in cat_info.items() %}
        <tr>
            <td>{{ key }}
            {% for v in value_list %}
            <td>
                {{ v }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}